# Database credentials
database:
  user: "genesis"
  name: "genesis"
  host: "postgres-service0"
  port: "5432"
  password: "genesis"

# Chain network configuration (example will work for the prysm testnet)
chain:
  slotsPerEpoch: 32
  secondsPerSlot: 12
  genesisTimestamp: 1582335148

# Note: It is possible to run either the frontend or the indexer or both at the same time
# Frontend config
frontend:
  enabled: true # Enable or disable to web frontend
  imprint: "templates/imprint.example.html" # Path to the imprint page content
  siteName: "Whiteblock Beacon Chain Explorer" # Name of the site, displayed in the title tag
  siteSubtitle: "Showing the Whiteblock Prysm Testnet" # Subtitle shown on the main page
  server:
    host: "0.0.0.0" # Address to listen on
    port: "3333" # Port to listen on

# Indexer config
indexer:
  enabled: true # Enable or disable the indexing service
  fullIndexOnStartup: true # Perform a one time full db index on startup
  indexMissingEpochsOnStartup: true # Check for missing epochs and export them after startup
  node:
    host: "beacon-node-service0" # Address of the backend node
    port: "4000" # port of the backend node
    type: "prysm" # can be either prysm or lighthouse
